/* .parent {
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
} */

.body{
  width:100%;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    border: 1px solid #DDDEDE;
    border-radius: 8px;
    width: 82%;
    height: 150px;
    margin: 2%;
}
.bannerImage{
    padding: 2%;
    width: 95%;
    height: 150px;
}
.BookingInfo{
    display: flex;
    flex-direction: column;
    line-height: 0%;
    width: 100%;
    padding: 20px;
}
.BookingData{
    display: flex;
}
.Viewandmodifydata{
    float: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #5162F6;
    background-color: #ffffff;
    border: 1px solid #EAE9EA;
    border-radius: 4px;
}
.BookingData p{
   
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    color: #1F2131;
}

  .person-img{
    width: 15%;
    margin-right: 2%;
    margin-left:2%;
    /* padding-bottom: 2%; */
  }   
  
  .icon-border{
    border:1px solid #ECECEC;
    border-radius:7px;
    margin:1%;
    width: 111px;
    height: 25px;
  }
  
  .card-size{
    width:30%;
    margin-bottom: 2%;
  }
  
  .small-icon{
    font-size:80%;
  }