<app-navbar></app-navbar>
<app-header [header]="header"></app-header>
<hr>
<div class="parent">

  <div class="container d-flex flex-wrap mb-3 mb-4">
    <h6 style="color:grey" class="">Founding <b style="color:black">
        12 Bookings
      </b></h6>
    <select name="" id="" class="text-secondary border shadow-sm ms-2" (change)="changeFilterLoc()"
      [(ngModel)]="filterloc">
      <option value="All">All Location</option>
      <option value="Chennai">Chennai</option>
      <option value="Bangalore">Bangalore</option>
      <option value="Pune">Pune</option>
      <option value="Combaitore">Combaitore</option>
    </select>
    <input type="date" class="text-secondary border shadow-sm ms-2">
  </div>
  <div class=" container cardCont d-flex flex-wrap border border-secondary p-1 ml-4 mb-4 " *ngFor="let room of rooms">
    <img class="roomImg" [src]="'data:image/png;base64,' + room.roomDetail.imageData" alt="">
    <div>
      <div class="roomName ps-4">
        <h2>{{room.roomDetail.roomName}} </h2>
      </div>
      <div class=" empRow d-flex  ">
        <img class="knainiLogo" src=" ../../../assets/images/kanini logo.png">
        <h6 class="emp text-secondary">Employee :</h6>
        <h6> {{room.employeeName}}</h6>
        <h6 class="text-secondary">| Booking id</h6>
        <h6><b>{{room.bookingId}}</b></h6>
      </div>
      <div class=" d-flex mt-4">
        <i class=" fa fa-light fa-comment text-secondary ps-4"></i>
        <h6 class="ps-1">{{room.meetingTitle}}</h6>
        <i class="fa fa-map-marker text-secondary ps-2"></i>
        <h6 class="ps-1">{{room.roomDetail.location.city}}</h6>
        <i class="fa fa-light fa-user text-secondary ps-2"></i>
        <h6 class="ps-1">{{room.numberOfParticipants}}</h6>
        <i class="fa fa-sharp fa-light fa-calendar text-secondary ps-2"></i>
        <h6 class="ps-1">{{room.date | date:''}}</h6>
        <i class="fa fa-clock-o text-secondary ps-2"></i>
        <h6 class="ps-1">{{room.time | date:''}}</h6>
      </div>
    </div>
  </div>
</div>