<header class="row p-3">
    <div class="col-sm-6">
        <h6>{{header}}</h6>
        <p class="p-small text-secondary">{{para}}</p>
    </div>

    <div class="col-sm-4 px-1">
        <nav class="navbar">
            <form class="container-fluid  d-flex">
                <div class="input-group">
                    <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass" style="color: #a1a3a5;"></i></span>
                    <input type="text" class="search form-control no-border" placeholder="Search {{search}}"
                        aria-label="Search Employees" aria-describedby="basic-addon1">
                </div>
            </form>
        </nav>

    </div>
    <div class="col-sm-2" style="position:relative">
        <img src="assets/img/bell.svg" routerLink="/notifications">
            <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
                <span class="visually-hidden">Hello</span>
            </span>
        <img src="assets/images/KaniniLogo.svg" class="avatar-btn mx-2" alt="HR Admin" />{{name}}
    </div>

</header>