<app-navbar></app-navbar>

<div class="body">
  <header class="row py-4 border-bottom">
    <div class="col-sm-6">
      <h6>Events</h6>
    </div>

    <div class="col-sm-4 px-1">
      <nav class="navbar">
        <form class="container-fluid d-flex">
          <div class="input-group">
            <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass"
                style="color: #a1a3a5"></i></span>
            <input type="text" class="search form-control no-border" placeholder="Search Employees"
              aria-label="Search Employees" aria-describedby="basic-addon1" />
          </div>
        </form>
      </nav>
    </div>
    <div class="col-sm-2" style="position: relative">
      <img src="assets/img/bell.svg" />
      <span class="badge bg-danger rounded-circle p-1" style="position: absolute; left: 21px; top: 3px">
        <span class="visually-hidden">Hello</span>
      </span>
      <button class="avatar-btn mx-2" type="submit"></button>HR admin
    </div>
  </header>

  <div class="main-event">
    <span class="p-small mb-3" routerLink="/events">
      <i class="fa-solid fa-arrow-left" style="color: #6f7071"></i>
      Back</span>
    <img [src]=" 'data:image/png;base64,' + event.imageData" class="main-event-image rounded" alt="Event Main Image" />
    <div class="event-details">
      <h3 class="event-title my-3">{{ event.eventTitle }}</h3>
      <div class="row my-4 border-bottom">
        <div class="col-sm-9">
          <span class="p-small mx-3">
            <i class="fa-solid fa-location-dot" style="color: #8a8a8a"></i>
            <span class="location-text"><b>Chennai</b></span>
          </span>

          <span class="p-small mx-3">
            <i class="fa-regular fa-calendar" style="color: #8a8a8a"></i>
            <span class="date-text"><b>{{event.startTime | date:'mediumDate'}}</b></span>
          </span>

          <span class="p-small mx-3">
            <i class="fa-regular fa-clock" style="color: #030303" style="color: #8a8a8a"></i>
            <span class="time-text"><b>{{ event.startTime | date:'shortTime' }}-{{ event.endTime
                |date:'shortTime' }}</b></span>
          </span>
        </div>
        <div class="col-sm-3">
          <img src="assets/img/party_vs.svg" alt="" class="img-event bg-primary" />
          <span class="text-primary p-small"><b>8 people joining this event</b></span>
        </div>
      </div>
      <div class="row">
        <h6>About</h6>
        <p>
          {{event.eventDescription}}
        </p>
      </div>
    </div>
  </div>
</div>