<app-navbar></app-navbar>

<body class="body">
    <app-header [header]="header" [search]="search"></app-header><hr>
    <div>
        <aside>
            <div class="row">
                <div class="col-10 text-left mt-3">
                    <h6>All Locations</h6>
                </div>

                <div class="col-2 text-right">
                    <button class="btn btn-primary btn-sm mt-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Location</button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Add a new location</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="row">
                                <div class="col">
                                    <p>Share location building Image</p>
                                    <div class="card text-center mb-3"
                                        style="border:2px dashed #9DA2B6">
                                        <div class="card-body">
                                            <h5 class="card-title"><img
                                                    src="assets/images/gallery-icon.png"></h5>
                                            <p class="card-text">Drop your Featured Image here, or
                                                <label class="text-decoration-none" for="fileInput"
                                                    style="cursor: pointer; color: blue;">Browse</label>
                                                <input type="file" id="fileInput" formControlName = "imageData"
                                                    style="display: none;"
                                                    (change)="onFileSelected($event)">
                                                <br>
                                                <span class="text-muted">Supports: JPEG, PNG</span>"
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
                                <div class="row" >
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Floor no/Buiding name"
                                        aria-label="Floor no/Building name" formControlName="floorNumberOrBuildingName" [(ngModel)]="newLocation.floorNumberOrBuildingName">

                                        <div *ngIf="floorNumberOrBuildingName?.invalid && floorNumberOrBuildingName?.touched" class="text-danger">
                                            Floor no/Building name is required.
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Street Address"
                                        aria-label="streetAddress" formControlName="streetAddress" [(ngModel)]="newLocation.streetAddress">

                                        <div *ngIf="streetAddress?.invalid && streetAddress?.touched" class="text-danger">
                                            street Address is required.
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="City" aria-label="City"
                                        formControlName="city" [(ngModel)]="newLocation.city" >

                                        <div *ngIf="city?.invalid && city?.touched" class="text-danger">
                                           city is required.
                                        </div>
                                    </div>

                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="State" aria-label="State"
                                        formControlName="state" [(ngModel)]="newLocation.state" >

                                        <div *ngIf="state?.invalid && state?.touched" class="text-danger">
                                            state is required.
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Pincode" aria-label="Pincode"
                                        formControlName="pincode" [(ngModel)]="newLocation.pincode">

                                        <div *ngIf="pincode?.invalid && pincode?.touched" class="text-danger">
                                            pincode is required.
                                        </div>
                                    </div>

                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Country" aria-label="Country"
                                        formControlName="country" [(ngModel)]="newLocation.country" >

                                        <div *ngIf="country?.invalid && country?.touched" class="text-danger">
                                            country is required.
                                        </div>
                                    </div>
                                </div><br>

                                <div class="row">
                                    <p>General Info</p>
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="No. of conference room"
                                            aria-label="No. of coference room" formControlName="numberOfConferenceRooms" [(ngModel)]="newLocation.numberOfConferenceRooms" >
                                        
                                        <div *ngIf="numberOfConferenceRooms?.invalid && numberOfConferenceRooms?.touched" class="text-danger">
                                                number of conference rooms is required.
                                        </div>
                                    </div>

                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="No. of desk"
                                            aria-label="No. of desk" formControlName="numberOfDesk" [(ngModel)]="newLocation.numberOfDesk">

                                        <div *ngIf="numberOfDesk?.invalid && numberOfDesk?.touched" class="text-danger">
                                                number of desk is required.
                                        </div>
                                    </div>
                                </div><br>
                                <div class="mb-3 d-flex justify-content-between">
                                    
                                        <button type="submit" class="btn btn-primary" >Submit</button>
                                    
                                    <button type="button" class="btn btn-secondary me-1" data-bs-dismiss="offcanvas">
                                      Cancel
                                    </button>
                                  </div>

                     
                            </form>    
                            
                        </div>
                    </div>

                </div>


            </div>
        </aside>

    </div>
    <br>
    <article>
        <div>
            <div class="row ">
                <div class="col-sm-3" *ngFor="let l of locations">
                    <div class="card">
                        <img [src]=" 'data:image/png;base64,' + l.imageData" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h6 class="card-title ">{{l.city}}</h6>
                            <p class="card-text p1 text-secondary small">{{l.streetAddress}}, {{l.city}}-{{l.pincode}}</p>
                            <a href="# " class="btn btn-sm border border-primary text-primary">Edit Details</a>
                        </div>
                    </div><br>
                    
    
                </div>
            </div>
        </div>
    </article>
