<app-navbar></app-navbar>

<body class="body">
    <header class="row py-4 border-bottom">
        <div class="col-sm-6">
            <h6 class="">Locations</h6>
        </div>

        <div class="col-sm-4 px-1">
            <nav class="navbar">
                <form class="container-fluid  d-flex">
                    <div class="input-group">
                        <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass"
                                style="color: #a1a3a5;"></i></span>
                        <input type="text" class="search form-control no-border" placeholder="Search Employees"
                            aria-label="Search Employees" aria-describedby="basic-addon1">
                    </div>
                </form>
            </nav>

        </div>
        <div class="col-sm-2" style="position:relative">
            <img src="assets/img/bell.svg">
            <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
                <span class="visually-hidden">Hello</span>
            </span>
            <button class="avatar-btn mx-2" type="submit"></button>HR admin
        </div>

    </header>


    <div>
        <aside>
            <div class="row">
                <div class="col-10 text-left mt-3">
                    <h6>All Location</h6>
                </div>

                <div class="col-2 text-right">
                    <button class="btn btn-primary btn-sm mt-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add Location</button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Add a new location</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class=row>
                                <p>Share location building image</p>
                                <div class="card text-center mb-3" style="border:1px dashed;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="bi-card-image"></i></h5>
                                        <input type="file" placeholder="select image" [(ngModel)]="selectedImage"><br>
                                        <p>Supports : JPG,PNG</p>
                                            

                                    </div>
                                </div>

                            </div><br>
                            <div class="row">
                                <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                                  
                            </div><br>

                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Floor no/Buiding name"
                                        aria-label="Floor no/ Buiding name" [(ngModel)]="floorBuildingName" >
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Street Address"
                                        aria-label="Street Address" [(ngModel)]="streetAddress">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="City" aria-label="City" [(ngModel)]="city">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="State" aria-label="State" [(ngModel)]="state">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <input type="number" class="form-control" placeholder="Pincode"
                                        aria-label="Pincode" [(ngModel)]="pincode">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Country" aria-label="Country" [(ngModel)]="country">
                                </div>
                            </div><br>
                            <div class="row">
                                <p>General Info</p>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="No. of conference room"
                                        aria-label="No. of coference room " [(ngModel)]="conferenceRooms">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="No. of desk"
                                        aria-label="No. of desk" [(ngModel)]="desks">
                                </div>
                            </div><br>
                            <div>
                                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </aside>

    </div>
    <br>


    <article>

        <div>
            <div class="row ">
                <div class="col-sm-3 ">
                    <div class="card ">
                        <img src="assets/img/chennai.png" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h6 class="card-title ">Chennai</h6>
                            <p class="card-text p1 text-secondary">Tower A, 1st Floor, 51, Ratha Tek Meadows Rd, Elcot
                                Sez, Sholinganallur, Chennai-600119</p>
                            <a href="# " class="btn btn-sm border border-primary text-primary">Edit Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 ">
                    <div class="card ">
                        <img src="assets/img/coimbatore.png" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h6 class="card-title ">Coimbatore</h6>
                            <p class="card-text p1 text-secondary">ELCOT SEZ, IT/ITES, Villankurichi Rd, Civil Aerodrome
                                Post, Coimbatore-641014</p>
                            <a href="# " class="btn btn-sm border border-primary text-primary">Edit Details</a>
                        </div>
                    </div>
                </div><br><br><br>
                <div class="col-sm-3 ">
                    <div class="card ">
                        <img src="assets/img/bangalore.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h6 class="card-title ">Bangalore</h6>
                            <p class="card-text p1 text-secondary">#1, 4th floor, Navarathna Gardens, Sy. No, 68,
                                Kanakapura Rd, Bengaluru-560062</p>
                            <a href="# " class="btn btn-sm border border-primary text-primary">Edit Details</a>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row ">
                <div class="col-sm-3 ">
                    <div class="card ">
                        <img src="assets/img/pune.png" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h6 class="card-title ">Pune</h6>
                            <p class="card-text p1 text-secondary">Panchshil Futura Module 01-131, First floor,
                                Magarpatta Rd, Baugh, Pune-411028</p>
                            <a href="# " class="btn btn-sm border border-primary text-primary ">Edit Details</a>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </article>
    <br>
</body>