<app-navbar></app-navbar>

<div>
    <app-header [header]="header" [search]="search"></app-header>
    <hr>
    <br>
    <!-- Section 1 : Header -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10"><span class="mx-2">Found <b>{{count}} Conference Rooms</b></span>
                    <select id="allLocationFilter" [(ngModel)]="locationName" (change)="changeLocationHandler()">
                        <option value="All">All Locations</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Bangalore">Bangalore</option>
                        <option value="Pune">Pune</option>
                        <option value="AllLocation" selected>All Locations</option>
                    </select>
                </div>
            <!-- Section 1 : End-->

                <!-- Offcanvas -->
                <div class="col-sm-2">
                    <button class="btn btn-primary btn-sm small-icon" id="btnCanvas" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add a
                        new room</button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header py-3">
                            <h6 class="offcanvas-title" id="offcanvasRightLabel">Add a new room</h6>
                            <button type="button" class="button_close" data-bs-dismiss="offcanvas"
                                aria-label="Close"><img src="../../../assets/images/close-icon.svg"></button>

                        </div>
                        <!-- Offcanvas Form Body -->
                                        <div class="offcanvas-body">
                                            <form [formGroup]="roomForm" (ngSubmit)="addRoom()">
                                                <div class="row">
                                                    <div class="col">
                                                        <select class="form-select text-muted"
                                                            aria-label="Default select example"
                                                            formControlName="locationId"
                                                            [(ngModel)]="newRoom.locationId">
                                                            <option *ngFor="let l of locations" [value]="l.location_Id">
                                                                {{l.city}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="roomForm.get('locationId')?.hasError('required') && roomForm.get('locationId')?.touched"
                                                            class="text-danger">
                                                            Location is required.
                                                        </div>
                                                    </div>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder="Room Name"
                                                            aria-label="City" formControlName="roomName"
                                                            [(ngModel)]="newRoom.roomName">
                                                        <div *ngIf="roomForm.get('roomName')?.hasError('required') && roomForm.get('roomName')?.touched"
                                                            class="text-danger">
                                                            Room Name is required
                                                        </div>

                                                    </div>
                                                    <div class="col">
                                                        <input type="text" class="form-control" placeholder="Capacity"
                                                            aria-label="State" formControlName="roomCapacity"
                                                            [(ngModel)]="newRoom.roomCapacity">
                                                        <div *ngIf="roomForm.get('roomCapacity')?.hasError('required') && roomForm.get('roomCapacity')?.touched"
                                                            class="text-danger">
                                                            Room Capacity is required
                                                        </div>
                                                    </div>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col">
                                                        <p>Choose Amenities inside the conference room</p>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col text-muted">
                                                        <div class="form-check form-check-inline"
                                                            *ngFor="let amenity of amenities">
                                                            <input class="form-check-input" type="checkbox"
                                                                [id]="amenity" [value]="amenity"
                                                                formControlName="newRoom.amenities"
                                                                [(ngModel)]="selectedAmenities[amenity]">
                                                            <label class="form-check-label" [for]="amenity">{{ amenity
                                                                }}</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br>
                                                <div class="row">
                                                    <div class="col">
                                                        <p>Add conference room image</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card text-center mb-3"
                                                            style="border:2px dashed #9DA2B6">
                                                            <div class="card-body">
                                                                <h5 class="card-title"><img
                                                                        src="assets/images/gallery-icon.png"></h5>
                                                                <p class="card-text">Drop your Featured Image here, or
                                                                    <label class="text-decoration-none" for="fileInput"
                                                                        style="cursor: pointer; color: blue;">Browse</label>
                                                                    <input type="file" id="fileInput"
                                                                        style="display: none;"
                                                                        (change)="onFileSelected($event)">
                                                                    <br>
                                                                    <span class="text-muted">Supports: JPEG, PNG</span>"
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <br><br>
                                                <div class="offcanvas-footer ">
                                                    <!-- (click)="addRoom()" -->
                                                    <button type="Add" class="btn btn-secondary"
                                                        id="addbtn">Add</button>
                                                    <button type="Cancel" class="btn bg-transparent" id="cancel"
                                                        data-bs-dismiss="offcanvas">Cancel</button>
                                                </div>
                                            </form>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <!-- Section 2 End-->

                            <br>
                            <br>

                            <!--Section 3 : Cards -->

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="card-size" *ngFor="let card of cards">
                                        <div class="card">
                                            <img [src]=" 'data:image/png;base64,' + card.imageData" class="card-img-top"
                                                alt="Card image cap">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h6 class="card-title"><small class="text-muted ">Conference
                                                                Room:</small><br>{{card.roomName}}</h6>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <button class=" small-icon"
                                                            [class.card-btn-pune]="card.location.city === 'Pune'"
                                                            [class.card-btn-bangalore]="card.location.city === 'Bangalore'"
                                                            [class.card-btn-chennai]="card.location.city === 'Chennai' ">&nbsp;
                                                            {{card.location.city}} &nbsp;</button>
                                                    </div>
                                                </div>

                                                <br>
                                                <div class="row">
                                                    <div class="col-icons">
                                                        <span class="icon-border px-1"><img
                                                                src="assets/images/profile-icon.png" class="conf-icon">
                                                            <span class="text-muted">{{card.roomCapacity}}</span>
                                                        </span>&nbsp;&nbsp;
                                                        <span class="icon-border px-1"><img src="assets/images/TV.png"
                                                                class="conf-icon"> <span class="text-muted">TV</span>
                                                        </span>&nbsp;&nbsp;
                                                        <span class="icon-border px-1"><img
                                                                src="assets/images/whiteboard.png"
                                                                class="conf-icon"><span
                                                                class="text-muted">Whiteboard</span>
                                                        </span>&nbsp;&nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Section 3 End -->

                                    <br>

                                    <!--Section 4 : Pagination -->
                                    <section class="page" id="#paginSection">
                                        <div class="container-fluid small">
                                            <div class="row">
                                                <div class="col-sm-7 py-2 text-muted">View &nbsp;
                                                    <select id="roomsper small">
                                                        <option value="RoomsPerPage" selected>6</option>
                                                        <option value="RoomsPerPage">10</option>
                                                        <option value="RoomsPerPage">14</option>
                                                        <option value="RoomsPerPage">20</option>
                                                    </select>
                                                    Rooms per page
                                                </div>


                                                <span class="col-sm-2 text-muted small" id="spanResult">Showing 6/120
                                                    results</span>

                                            </div>
                                        </div>



                                    </section>
                                    <!-- Section 4 End -->

                                </div>
                            </div>
                        </div>