<app-navbar></app-navbar>
<app-header [header]="header" [search]="search"></app-header><hr>

<div class="parent">

    <div class="container d-flex flex-wrap  ">
        <h6 style="color:grey" class="">Founding <b style="color:black">
                {{count}} Bookings
            </b></h6>
            <select class="text-secondary border shadow-sm ms-2">
                <option>Chennai</option>
                <option>Pune</option>
            </select>
        <input type="date" class="ms-2 text-secondary border shadow-sm">
    </div>
    <div class=" deskElement container mt-4" *ngFor="let desks of deskbookings">
        <div style="display: flex; gap: 50px;">
            <img style="width:50px;border-radius: 24px; object-fit: contain;" src="images/person1.jpg" alt="">
            <div class="mt-3">
                <h6 style="display: inline;" class="small">{{desks.employeeId}}-{{desks.employeeName}}</h6>
                <p class="small text-secondary">Senior Associate</p>
            </div>
            <div style="display:flex; align-items:center">
                <img style="object-fit: contain; width: 20px; border-radius: 4px;" src="images/kanini logo.png" alt="">
                <p class="mt-3 ms-2 small">Booking id </p>
                <h6 class="mt-2 ms-2"><b>#{{desks.bookingId}}</b></h6>
            </div>
            <div style="display:flex ;align-items:center">
                <img src="assets/images/Loaction.svg" alt="" />
                <p class="mt-2 ms-2 small">{{desks.location}}</p>
            </div>
            <div style="display:flex;align-items:center">
                <img src="assets/images/Date.svg">
                <p class="mt-2 ms-2 small">{{desks.bookingDate|date:'mediumDate'}}</p>
            </div>
            <div style="display:flex;align-items:center">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p class="mt-2 ms-2 small">{{desks.bookingTime|date:'shortTime'}}</p>
            </div>
        </div>

    </div>
</div>