<app-navbar></app-navbar>

<body class="body">
    <div class="container-fluid py-2">
        <app-header [header]="header" [search]="search"></app-header><hr>

        <div class="row">
            <div class="services text-center">
                <div class="i s7 p-2"><a routerLink="/manage/location" class="location"><img
                            src="assets/img/locicon.png" class="img"></a></div>
                <a routerLink="/manage/location" class="location">
                    <p class="p text-dark fw-semibold text-center mx-3">Locations</p>
                </a>
            </div>
            <div class="services p-1 text-center">
                <div class="i s8 p-2"><a routerLink="/manage/conference"><img src="assets/img/croom.png"
                            class="img"></a>
                </div>
                <a routerLink="/manage/conference">
                    <p class="p text-dark fw-semibold">Conference Rooms</p>
                </a>
            </div>
        </div>
    </div>

</body>