.circleAddLocation {
    width: 70px;
    background-color: #E9F2FF;
    font-size: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
    height: 58px;
    width: 58px;
}

.circleMeeting {
    width: 70px;
    background-color: #FEF3F0;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 34px;
    height: 58px;
    width: 58px;
}

.card {
    width: 180px;
    background: #FFFFFF;
    border: 2px solid #F7F6F7;
    border-radius: 16px;
    height: 180px;
}

p {
    font-weight: 600;
    font-size: 16px;
    color: #1F2131;
    font-style: normal;
}