<body>
    <!-- Manage Starts Here -->
    <div class="container-fluid py-2">
        <div class="row">
            <h3>Manage</h3>
            <hr>
        </div>

        <div class="row d-inline-flex">
            <div class="col m-2" (click)="location()">
                <div class="card text-center. ">
                    <div class="card-body">
                        <div class="circleAddLocation">
                            <img src="../../../assets/images/locationLogo.jpeg">
                        </div>
                        <p class="pb-2">Locations</p>
                    </div>
                </div>
            </div>

            <div class="col m-2" (click)="conference()">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="circleMeeting">
                            <img src="../../../assets/images/conferenceLogo.jpeg">

                        </div>
                        <p class="pb-2">Conference Rooms</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Manage Starts End -->

</body>