<app-navbar></app-navbar>

<body class="body">
    <div class="container-fluid whole">
        <app-header [header]="header"></app-header>
        <hr>
        <div class="" style="display: flex;justify-content: space-between;">
            <div class="tophalf py-4">
                <button type="button">
                    All </button>

                <button type="button">
                    Chennai</button>

                <button type="button">
                    Coimbatore
                </button>

                <button type="button" class="">
                    Pune
                </button>
            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary px-2" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Push
                    notifications</button>
            </div>
        </div>

        <!-- OFFCANVAS -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Post Notification</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body big">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="notification subject" [(ngModel)]="cardDetail.notificationSubject">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Description"
                        [(ngModel)]="cardDetail.description"></textarea>
                </div>

                <div class="mb-3">

                    <select name="location" id="location" [(ngModel)]="cardDetail.location">
                        <option *ngFor="let l of locations" [value]="l.location_Id">{{l.city}}</option>
                    </select>
                </div>


                <div class="down">
                    <button type="button" class="btn btn-primary" (click)="onSubmit()"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Send Notification
                    </button>

                    <button type="button" class="btn "
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Cancel
                    </button>
                </div>

            </div>
        </div>
        <div class="mt-3" *ngFor="let card of cards">
            <div class="di2 p-3">
                <h6>{{card.notificationSubject}}</h6>
                <p>{{card.description}}</p>
                <span class="mx-2 small"><i class="fa-solid fa-location-dot me-2"
                        style="color: #8a8a8a"></i>{{card.location.city}}</span>
                <span class=" mx-2 small"><i class="fa-regular fa-calendar me-2" style="color: #8a8a8a"></i>{{ card.date
                    | date:'mediumDate' }}</span>
                <span class=" mx-2 small"><i class="fa-regular fa-clock me-2" style="color: #030303"
                        style="color: #8a8a8a"></i>{{ card.time| date:'shortTime' }}</span>


            </div>
        </div>

    </div>


</body>