<app-navbar></app-navbar>

<body class="body">
    <div class="container-fluid whole">
        <header class="row py-4 border-bottom">
            <div class="col-sm-6">
                <h6 class="">Notifications</h6>
            </div>

            <div class="col-sm-4 px-1">
                <nav class="navbar">
                    <form class="container-fluid  d-flex">
                        <div class="input-group">
                            <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass"
                                    style="color: #a1a3a5;"></i></span>
                            <input type="text" class="search form-control no-border" placeholder="Search Employees"
                                aria-label="Search Employees" aria-describedby="basic-addon1">
                        </div>
                    </form>
                </nav>

            </div>
            <div class="col-sm-2" style="position:relative">
                <img src="assets/img/bell.svg">
                <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
                    <span class="visually-hidden">Hello</span>
                </span>
                <button class="avatar-btn mx-2" type="submit"></button>HR admin
            </div>

        </header>

        <div class="" style="display: flex;justify-content: space-between;">
            <div class="tophalf py-4">
                <button type="button">
                    All </button>

                <button type="button">
                    Chennai</button>

                <button type="button">
                    Coimbatore
                </button>

                <button type="button" class="">
                    Pune
                </button>
            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary px-2" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Push
                    notifications</button>
            </div>
        </div>

        <!-- OFFCANVAS -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Post Notification</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body big">
                <div class="mb-3" >
                    <label for="exampleFormControlInput1" class="form-label" ></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="notification subject" [(ngModel)]="Title">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                        placeholder="Description"[(ngModel)]="Description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Location" [(ngModel)]="Location">
                </div>


                <div class="down">
                    <button type="button" class="btn btn-primary" (click)="onSubmit()"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Send Notification
                    </button>

                    <button type="button" class="btn "
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Cancel
                    </button>
                </div>

            </div>
        </div>







        <!-- /*<div class="mt-3" *ngFor="let card of cards">
            <div class="di2 p-3">
                <h6>{{card.Title}}</h6>
                <p>{{card.Description}}</p>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-geo-alt px-2 text-secondary"></i>{{card.Location}}</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-calendar4 px-2 text-secondary"></i>{{card.Date}}</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-clock px-2 text-secondary"></i>{{card.Time}}</span>


            </div>
        </div>*/ -->

    </div>

    
</body>