<body>
    <div class="container-fluid whole">
        <header class="row py-4 border-bottom">
            <div class="col-sm-7">
                <h6 class="">Notifications</h6>
            </div>

            <div class="col-sm-3 px-1">
                <nav class="navbar">
                    <form class="container-fluid  d-flex">
                        <div class="input-group">
                            <span class="search input-group-text" id="basic-addon1"><i class="bi-search"
                                    id="i"></i></span>
                            <input type="text" class="search form-control" placeholder="Search Employees"
                                aria-label="Search Employees" aria-describedby="basic-addon1">
                        </div>
                    </form>
                </nav>
                <!-- <form class="d-flex" role="search">
            <input class="search form-control" type="search" placeholder="Search Employees" aria-label="Search">
  
          </form> -->
            </div>
            <div class="col-sm-2" style="position:relative">
                <i class="bi-bell "></i>
                <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
                    <span class="visually-hidden">Hello</span>
                </span>
                <!-- <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">Hello</span>
            </span> -->

                <!-- <i class="bi-bell mx-2"></i> -->

                <button class="avatar-btn mx-2" type="submit"></button>HR admin
            </div>
        </header>

        <div class="" style="display: flex;justify-content: space-between;">
            <div class="tophalf py-4">
                <button type="button">
                    All </button>

                <button type="button">
                    Chennai</button>

                <button type="button">
                    Coimbatore
                </button>

                <button type="button" class="">
                    Pune
                </button>
            </div>
            <div class="p-4">
                <button type="button" class="btn btn-primary px-2" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Push
                    notifications</button>
            </div>
        </div>

        <!-- OFFCANVAS -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Post Notification</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body big">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="notification subject">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                        placeholder="Description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Location">
                </div>


                <div class="down">
                    <button type="button" class="btn btn-primary"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Send Notification
                    </button>

                    <button type="button" class="btn "
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;border-radius: 2px;">
                        Cancel
                    </button>
                </div>

            </div>
        </div>







        <div class="di1">
            <div class="di2">
                <h6>Pune Capacity Increases</h6>
                <p>Execute paddle on both sides, so put a record on and see who dances execute UX, and this proposal is
                    a
                    win-win situation which will cause a stellar paradigm shift, and produce a multi-fold increase in
                    deliverables. Cloud strategy after I ran into Helen at a restaurant, I realized she was just office
                    pretty we
                    need to leverage.</p>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-geo-alt px-2 text-secondary"></i>Pune</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-calendar4 px-2 text-secondary"></i>July 11,
                    2022</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-clock px-2 text-secondary"></i>11:30am</span>


            </div>
        </div>

        <div class="di1">
            <div class="di2 p-3">
                <h6>Make Your Suggestions for Fun Friday</h6>
                <p>Take five, punch the tree, and come back in here with a clear head at the end of the day quick win,
                    and
                    product management breakout fastworks take five, punch the tree, and come back in here with a clear
                    head we
                    need to start advertising on social media yet tbrand terrorists.</p>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-geo-alt px-2 text-secondary"></i>All</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-calendar4 px-2 text-secondary"></i>July 03,
                    2022</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-clock px-2 text-secondary"></i>04:30pm</span>


            </div>
        </div>

        <div class="di1">
            <div class="di2 p-3">
                <h6>Coimbatore Office Capacity Increased</h6>
                <p class="text-secondary">Cross sabers moving the goalposts. Gain traction. Curate I just wanted to give
                    you a
                    heads-up. Move the needle. Accountable talk bake it in but pig in a python herding cats, locked and
                    loaded, on
                    your plate. Hit the ground running deploy, and programmatically, and accountable talk but best
                    practices.
                    Cannibalize accountable talk.</p>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-geo-alt px-2 text-secondary"></i>Coimbatore</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-calendar4 px-2 text-secondary"></i>June 13,
                    2022</span>
                    <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-clock px-2 text-secondary"></i>02:00pm</span>


           
        </div>

        <div class="di1">
            <div class="di2 p-3">
                <h6>Pune Office Shifted New Location</h6>
                <p>Upsell we need to socialize the comms with the wider stakeholder community bench mark accountable
                    talk nor
                    price point. Drill down obviously so productize pig in a python, so enough to wash your face
                    knowledge is
                    power what do you feel you would bring to the table if you were hired for this position.</p>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-geo-alt px-2 text-secondary"></i>Pune</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-calendar4 px-2 text-secondary"></i>June 08,
                    2022</span>
                <span class=" mx-2 fs-6 fw-semibold"><i class="bi bi-clock px-2 text-secondary"></i>11:30pm</span>


            </div>
        </div>

    </div>

    </div>
</body>