.di1 {
  padding: 10px;
}

.b1 {
  width: 166px;
  height: 40px;
  background: #5162F6;
  border-radius: 4px;
}

.down {
  padding-top: 100%;
}

.offcanvas {
  width: 40% !important;
}

.tophalf {
  padding-left: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  border-radius: 4px;
}


.whole {
  padding-left: 15.8%;

}


.di2 {
  border: 1px solid #DDDEDE;
  background: #FFFFFF;
  border-radius: 8px;
}

p {
  color: gray;
}

.tophalf button {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
}

h4 {
  color: #1F2131;
}

.body {
  width: 100%;
}

.cardw {
  width: 350px;

}

.no-border {
  border: 0;
  box-shadow: none;
}

.li {
  width: 208px;
  margin: 7%;
}

.a {
  color: grey;
  text-decoration: none;
}

.a:hover {
  color: grey;
  text-decoration: none;
}

.a:focus {
  color: rgb(31, 78, 219);
  border-right: 3px solid rgb(31, 78, 219);
}

.p-small {
  font-size: 12px;
}

.avatar-btn {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
}

.search {
  height: 25px;
  background-color: rgba(216, 225, 228, 0.345);
  font-size: 15px;
  border: 0px solid rgb(234, 224, 224);
}

#i {
  color: #aaaaab;
}

.search::placeholder {
  color: rgb(154, 152, 152);
}