<app-navbar></app-navbar>

<app-header [header]="header" [search]="search"></app-header>
<hr>

<div class="parent">
  <div class="bookingInfo ms-3">
    <div>
      <select class="basicDetails">
        <option value="Ratha Tek,Chennai">Ratha Tek,Chennai</option>
      </select>
    </div>
    <div>

      <input type="date" class="basicDetails ms-3">
    </div>
    <div>
      <select class="basicDetails ms-3">
        <option value="Ratha Tek,Chennai">8</option>
      </select>
    </div>
    <div><button class="btn btn-primary detailsSearch ms-4" style="width: 95px;height:40px">Search</button></div>
  </div>

  <div class="BookingPlaces">

    <div class="card-size" *ngFor="let card of cards" routerLink="/slot/{{card.roomId}}">
      <div class="card">
        <img [src]=" 'data:image/png;base64,' + card.imageData" class="card-img-top" alt="Card image cap">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <h6 class="card-title"><small class="text-muted ">Conference
                  Room:</small><br>{{card.roomName}}</h6>
            </div>
            <div class="col-sm-4">

              <button class="card-btn-chennai small-icon" [ngStyle]="{'background-color': card.Color}"
                [class.card-btn-pune]="card.roomLocation === 'Pune'"
                [class.card-btn-bangalore]="card.roomLocation === 'Bangalore'"
                [class.card-btn-chennai]="card.roomLocation === 'Chennai'">&nbsp; {{card.location.city}} &nbsp;</button>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-icons">
              <span class="icon-border px-1"><img src="assets/images/profile-icon.png" class="conf-icon"> <span
                  class="text-muted">{{card.roomCapacity}}</span> </span>&nbsp;&nbsp;
              <span class="icon-border px-1"><img src="assets/images/TV.png" class="conf-icon"> <span
                  class="text-muted">TV</span> </span>&nbsp;&nbsp;
              <span class="icon-border px-1"><img src="assets/images/whiteboard.png" class="conf-icon"><span
                  class="text-muted">Whiteboard</span> </span>&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>