<div class="parent">
    <div class="bookingInfo ms-3">
      <div>
        <select class="basicDetails">
          <option value="Ratha Tek,Chennai">Ratha Tek,Chennai</option>
        </select>
      </div>
      <div>
        <select class="basicDetails ms-3">
          <option value="Ratha Tek,Chennai">11/07/2022</option>
        </select>
      </div>
      <div>
        <select class="basicDetails ms-3">
          <option value="Ratha Tek,Chennai">8</option>
        </select>
      </div>
      <div><button class="btn btn-primary detailsSearch ms-4" style="width: 95px;height:40px">Search</button></div>
    </div>

    <div class="BookingPlaces">
      <div class="card" (click)="redirectToSlot()">
        <img src="assets/images/Spring 4Pax.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">Spring 4Pax</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="assets/images/People.svg" alt="PeopleCount" /> 20
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Sunrise.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">Sunrise</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="/assetsimages/People.svg" alt="PeopleCount" /> 6
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Sunset.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">Sunset</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="assets/images/People.svg" alt="PeopleCount" /> 12
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Dotnet.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">Dotnet</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="assets/images/People.svg" alt="PeopleCount" /> 6
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/CHC 2.0.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">CHC 2.0</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="assets/images/People.svg" alt="PeopleCount" /> 10
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/StoryBord.svg" class="card-img-top" alt="HotelPic" />
        <div class="card-body Hotelinfo">
          <div>
            <p class="card-text hotelName">
              Conference Room
              <br />
              <b class="placeName">Storyboard</b>
            </p>
          </div>
          <div class="location"><span class="city">Chennai</span></div>
        </div>
        <div class="facilities">
          <div class="facilitiesinfo">
            <img src="assets/images/People.svg" alt="PeopleCount" /> 14
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/TV.svg" alt="TV" /> TV
          </div>
          <div class="facilitiesinfo">
            <img src="assets/images/Whiteboard.svg" alt="Whiteboard" /> Whiteboard
          </div>
        </div>
      </div>
    </div>
</div>