
<app-navbar></app-navbar>
<div class="body container-fluid" id="article">
    <app-header [header]="header" [para]="para" [search]="search"></app-header>
    <div>
        <select class="text-secondary border shadow-sm mx-5 mb-2">
            <option>Chennai</option>
            <option>Pune</option>
        </select>
    </div>
    <article>
        <!-- BIGINNING OF BODY SECOND SUBROW -->
        <div class="row ps-4">

            <!-- FIRST COLUMN OF BODY SECOND SUBROW -->
            <div class="article">
            
                <!-- STATUS CHECK ROW-->
                <div class="row" (onchange)="calculating()">
                    <div class="col-md-6 mb-2">
                        <div class="card border">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 div-img">
                                        <img src="assets/img/ctable.png" class="dash-img bg-danger-subtle pt-1">
                                    </div>
                                    <div class="col-sm-8 px-4">
                                        <h6 class="card-title">Conference Room</h6>
                                        <p class="card-text  text-secondary-emphasis">Meeting halls</p>
                                        <div>
                                            <h6>Quiet({{count}}/{{roomscount}})</h6>
                                        </div>
                                        <div class="row">
                                            <div class="blank status-bar mx-1"></div>
                                            <div class="status-bar blank mx-1" ></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="card border">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4 div-img">
                                        <img src="assets/img/deskbook.png"
                                            class="dash-img bg-warning-subtle pt-1">
                                    </div>
                                    <div class="col-sm-8 px-4">
                                        <h6 class="card-title">Desks</h6>
                                        <p class="card-text text-secondary-emphasis">People Check-In</p>
                                        <div>
                                            <h6>Quiet({{deskcount}}/200)</h6>
                                        </div>
                                        <div class="row">
                                            <div class="status-bar quiet mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar  blank mx-1"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF BODY SECOND SUBROW -->


                <!-- BEGINNING OF BODY THIRD SUBROW -->
                <!-- SERVICES SECTION -->
                <div class="row mt-5">
                    <h6>All Services</h6>
                
                    <div class="services text-center">
                        <a routerLink="/employee"><div class="i s1 p-2"><img src="assets/img/employee.png" class="img">
                        </div></a>
                        <a routerLink="/employee">
                            <p class="p text-dark fw-semibold mx-2">Employee Data</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s2 p-2"><a routerLink="/rbooking"><img src="assets/img/rbooking.png" class="img"></a>
                        </div>
                        <a routerLink="/rbooking">
                            <p class="p text-dark fw-semibold mx-2">Room Booking</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s3 p-2"><a routerLink="/dbooking"><img src="assets/img/dbooking.png" class="img"></a></div>
                        <a routerLink="/dbooking">
                            <p class="p text-dark fw-semibold mx-2">Desk Booking</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s4 p-2"><a routerLink="/calendar"><img src="assets/img/calicon.png" class="img"></a>
                        </div>
                        <a routerLink="/calendar">
                            <p class="p text-dark fw-semibold mx-2">My Bookings</p>
                        </a>
                    </div>

                    <div class="services  text-center">
                        <div class="i s5 p-2"><a routerLink="/events"><img src="assets/img/eventicon.png" class="img"></a>
                        </div> 
                        <a routerLink="/events">
                            <p class="p text-dark fw-semibold mx-4">Events</p>
                        </a>
                    </div>
                    <div class="services  border text-center">
                        <div class="i s6 p-2"><a routerLink="/notifications"><img src="assets/img/Notifyicon.png" class="img"></a>
                        </div>
                        <a routerLink="/notifications">
                            <p class="p text-dark fw-semibold text-center mx-2">Notifications</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s7 p-2"><a routerLink="/manage/location" class="location"><img src="assets/img/locicon.png"
                                    class="img"></a></div>
                        <a routerLink="/manage/location" class="location">
                            <p class="p text-dark fw-semibold text-center mx-3">Locations</p>
                        </a>
                    </div>
                    <div class="services p-1 text-center">
                        <div class="i s8 p-2"><a routerLink="/manage/conference"><img src="assets/img/croom.png" class="img"></a>
                        </div>
                        <a routerLink="/manage/conference">
                            <p class="p text-dark fw-semibold">Conference Rooms</p>
                        </a>
                    </div>

                </div>
            </div>


            <div class="border aside-div">
                <div class="container cal">
                    <mat-calendar #releasedAtPicker color="primary"></mat-calendar>
                </div>
                <hr>
                <div>
                    <h6 class="px-3"> Today, {{date|date}}</h6>
                </div>
                <div class="notify-div n-1 p-2">
                    <img src="assets/img/party_small.svg" class="notify ni-1 p-2">
                    <p class="m-1 mt-2">Family day in Chennai faculty</p>
                    <p class="p-small m-1">10:30AM to 6:00PM</p>
                </div>
                <div class="notify-div n-2 p-2 my-3">
                    <img src="assets/img/door_small.svg" class="notify ni-2 p-2">
                    <p class="m-1 mt-2">CHC Meeting</p>
                    <p class="p-small m-1">01:00PM to 02:00PM</p>
                </div>
                <div class="notify-div n-3 p-2">
                    <img src="assets/img/door_small.svg" class="notify ni-3 p-2">
                    <p class="m-1 mt-2">Deloitte Omnia Meeting</p>
                    <p class="p-small m-1">03:00PM to 04:00PM</p>
                </div>
            </div>
        </div>
    </article>
</div>
<router-outlet></router-outlet>