

<div class="body" id="article">
    <!-- BEGINNING OF BODY FIRST SUBROW -->
    <header class="row p-4">
        <div class="col-sm-6">
            <h6>Welcome, Admin!</h6>
            <p class="p-small text-secondary">View complete details of all location and its corresponding details
            </p>
            <div>
                <select class="text-secondary border shadow-sm">
                    <option>Chennai</option>
                    <option>Pune</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4 px-1">
            <nav class="navbar">
                <form class="container-fluid  d-flex">
                    <div class="input-group">
                        <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass" style="color: #a1a3a5;"></i></span>
                        <input type="text" class="search form-control no-border" placeholder="Search Employees"
                            aria-label="Search Employees" aria-describedby="basic-addon1">
                    </div>
                </form>
            </nav>

        </div>
        <div class="col-sm-2" style="position:relative">
            <img src="assets/img/bell.svg">
            <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
                <span class="visually-hidden">Hello</span>
            </span>
            <button class="avatar-btn mx-2" type="submit"></button>HR admin
        </div>

    </header>
    <article>
        <!-- BIGINNING OF BODY SECOND SUBROW -->
        <div class="row ps-4">

            <!-- FIRST COLUMN OF BODY SECOND SUBROW -->
            <div class="article">

                <!-- STATUS CHECK ROW-->
                <div class="row">
                    <div class="cardw">
                        <div class="card border">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="assets/img/conf.png" width="50" height="50"
                                            class="dash-img bg-danger-subtle pt-1">
                                    </div>
                                    <div class="col-sm-10 px-4">
                                        <h5 class="card-title">Conference Room</h5>
                                        <p class="card-text text-secondary-emphasis">Meeting halls</p>
                                        <div>
                                            <p>Busy(25/50)</p>
                                        </div>
                                        <div class="row">
                                            <div class="status-bar busy mx-1"></div>
                                            <div class="status-bar busy mx-1"></div>
                                            <div class="status-bar busy mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cardw">
                        <div class="card border">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="assets/img/desk2.png" width="50" height="50"
                                            class="dash-img bg-warning-subtle pt-1">
                                    </div>
                                    <div class="col-sm-10 px-4">
                                        <h5 class="card-title">Desks</h5>
                                        <p class="card-text text-secondary-emphasis">People Check-In</p>
                                        <div>
                                            <p>Quiet(120/1000)</p>
                                        </div>
                                        <div class="row">
                                            <div class="status-bar quiet mx-1"></div>
                                            <div class="status-bar quiet mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar blank mx-1"></div>
                                            <div class="status-bar  blank mx-1"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF BODY SECOND SUBROW -->


                <!-- BEGINNING OF BODY THIRD SUBROW -->
                <!-- SERVICES SECTION -->
                <div class="row mt-5">
                    <h6>All Services</h6>
                    <div class="services text-center">
                        <div class="i s1 p-2"><a href="#"><img src="assets/img/people_color.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold mx-2">Employee Data</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s2 p-2"><a href="#"><img src="assets/img/door_color.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold mx-2">Room Booking</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s3 p-2"><a href="#"><img src="assets/img/desk.svg" class="img"></a></div>
                        <a href="#">
                            <p class="p text-dark fw-semibold mx-2">Desk Booking</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s4 p-2"><a href="#"><img src="assets/img/calendar_color.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold mx-2">My Bookings</p>
                        </a>
                    </div>

                    <div class="services  text-center">
                        <div class="i s5 p-2"><a href="#"><img src="assets/img/party_color.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold mx-4">Events</p>
                        </a>
                    </div>
                    <div class="services  border text-center">
                        <div class="i s6 p-2"><a href="#"><img src="assets/img/bell_color.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold text-center mx-2">Notifications</p>
                        </a>
                    </div>
                    <div class="services text-center">
                        <div class="i s7 p-2"><a href="#" class="location"><img src="assets/img/location.svg"
                                    class="img"></a></div>
                        <a href="#" class="location">
                            <p class="p text-dark fw-semibold text-center mx-3">Locations</p>
                        </a>
                    </div>
                    <div class="services p-1 text-center">
                        <div class="i s8 p-2"><a href="#"><img src="assets/img/conference.svg" class="img"></a>
                        </div>
                        <a href="#">
                            <p class="p text-dark fw-semibold">Conference Rooms</p>
                        </a>
                    </div>
                </div>
            </div>


            <div class="border aside-div">
                <div class="container cal">
                    <div class="wrapper">
                        <header class="header">

                            <div class="icons">
                                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                            </div>
                            <p class="current-date"></p>
                            <div class="icons">
                                <span id="next" class="material-symbols-rounded">chevron_right</span>
                            </div>
                        </header>
                        <div class="calendar">
                            <ul class="weeks">
                                <li>Sun</li>
                                <li>Mon</li>
                                <li>Tue</li>
                                <li>Wed</li>
                                <li>Thu</li>
                                <li>Fri</li>
                                <li>Sat</li>
                            </ul>
                            <ul class="days"></ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h6 class="px-3"> Today, 7th March 2023</h6>
                </div>
                <div class="notify-div n-1 p-2 ">
                    <img src="assets/img/party_small.svg" class="notify ni-1 p-2">
                    <p class="m-1 mt-2">Family day in Chennai faculty</p>
                    <p class="p-small m-1">10:30AM to 6:00PM</p>
                </div>
                <div class="notify-div n-2 p-2 my-3">
                    <img src="assets/img/door_small.svg" class="notify ni-2 p-2">
                    <p class="m-1 mt-2">CHC Meeting</p>
                    <p class="p-small m-1">01:00PM to 02:00PM</p>
                </div>
                <div class="notify-div n-3 p-2">
                    <img src="assets/img/door_small.svg" class="notify ni-3 p-2">
                    <p class="m-1 mt-2">Deloitte Omnia Meeting</p>
                    <p class="p-small m-1">03:00PM to 04:00PM</p>
                </div>
            </div>
        </div>
    </article>
</div>