
<app-navbar></app-navbar>
<div class="body" id="article">
    <!-- BEGINNING OF BODY FIRST SUBROW -->

    <app-header [header]="header"></app-header>
   </div>
<hr class="custom-line">
<div class="container-fluid">
<div class="row">
    <div class="col-sm-8">
        <div class="card cal">
            <full-calendar [options]="calendarOptions"></full-calendar>

        </div>        
    </div>
    <div class="mini-cal col-sm-4">
      <div class="card p-3">
        <mat-calendar #releasedAtPicker color="primary" ></mat-calendar>
        <hr>
        <h5>Events</h5>
        <p>Today, {{today|date}}</p>
        <div class="card p-2" *ngFor="let c of events"  [ngStyle]="{'background-color':'lightblue'}" >
            <p>{{c.title}}</p>
            <button class="btn btn-outline-primary" [ngStyle]="{'width': '50%'}">View Details</button>
        </div>
       

        
      </div>
    
    </div>
</div>

</div>

