.facilities {
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    width: 800px;
  }
  .facility {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    line-height: 0%;
    width: 250px;
    height: 40px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    gap: 20px;
    border-right: 2px solid #edf1f5;
  }
  
  .AdditionalFacility {
    border: none;
  }
  
  .facilityHeader {
    color: #626d8a;
    font-size: 10px;
  }
  
  .facilitiesImage {
    background: #e4e7eb;
    border-radius: 6px;
    padding: 10px;
  }
  
  .MeetingInput {
    width: 780px;
    height: 35px;
    padding-left: 15px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #9da2b6;
    border-radius: 6px;
  }
  
  .MeetingTitle {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
  }
  
  .BookingSlot {
    display: flex;
    justify-content: space-between;
    width: 800px;
    background: #ffffff;
  }
  
  .fieldsetdetails {
    display: flex;
    padding: 10px;
    border: 1px solid #9da2b6;
    border-radius: 6px;
    color: black;
  }
  
  .basicDetails {
    display: flex;
    justify-content: space-between;
    border: none;
    width: 200px;
    color: black;
  }
  
  .bookingInfo {
    font-family: "Inter";
    font-size: 10px;
    color: #626d8a;
  }
  
  .timingGraph {
    height: 100px;
    width: 800px;
    background: #ffffff;
    border: 1px solid #ced0db;
    border-radius: 8px;
  }
  
  .BookingFor {
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .BookingFor img {
    width: 30px;
    height: 30px;
  }
  
  .BookingHrInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .bookingclick {
    font-family: "Manrope";
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    color: #1f2131;
  }
  
  .bookingclick1 {
    color: #626d8a;
  }
  
  .btn {
    background: #bdc0c4;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    font-family: "Manrope";
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    border: none;
  }
  
  .bookingbtn {
    display: flex;
    width: 300px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  
  .cancelBooking {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-size: 15px;
    color: #626d8a;
  }
  .reservations {
    width: 300px;
    display: flex;
    line-height: 0%;
    gap: 15px;
  }
  
  .reservationDetails {
    margin-top: 1px;
    width: 100px;
    height: 25px;
    opacity: 0.5;
    border: 1px solid #ced0db;
    border-radius: 3px;
  }
  
  .reservationList {
    width: 800px;
    display: flex;
    align-items: center;
    border: thin gray solid;
    line-height: 0.5;
    gap: 20px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ced0db;
    border-radius: 8px;
    font-family: "Manrope";
    font-weight: bolder;
    font-size: 12px;
    line-height: 0.5;
    color: #1f2131;
  }
  
  .rerservedpersonimage {
    width: 40px;
    height: 40px;
  }
  
  .registredtime {
    font-weight: 0px;
    color: grey;
  }
  
  .reservedDetails {
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  
  
