<app-navbar></app-navbar>
<app-header [header]="header"></app-header><hr>
<!-- <header class="row py-4 border-bottom">
  <div class="col-sm-6">
    <h6 class="">Book a room </h6>
  </div>

  <div class="col-sm-4 px-1">
    <nav class="navbar">
      <form class="container-fluid  d-flex">
        <div class="input-group">
          <span class="search input-group-text" id="basic-addon1"><i class="fa fa-magnifying-glass"
              style="color: #a1a3a5;"></i></span>
          <input type="text" class="search form-control no-border" placeholder="Search Employees"
            aria-label="Search Employees" aria-describedby="basic-addon1">
        </div>
      </form>
    </nav>

  </div>
  <div class="col-sm-2" style="position:relative">
    <img src="assets/img/bell.svg">
    <span class="badge bg-danger rounded-circle p-1" style=" position:absolute; left:21px; top:3px">
      <span class="visually-hidden">Hello</span>
    </span>
    <button class="avatar-btn mx-2" type="submit"></button>HR admin
  </div>
</header> -->

<body class="body container-fluid mt-3" id="article">
  <main class="row">
    <div class="col-sm-8">


      <form [formGroup]="bookroomForm" (ngSubmit)="onSubmit()">
        <div class="facilities">
          <div class="facility">
            <img class="facilitiesImage" src="assets/images/Capacity.svg" alt="CapacityImage" />
            <div>
              <p class="facilityHeader">Capacity:</p>
              <p>{{room.roomCapacity}}</p>
            </div>
          </div>
          <div class="facility">
            <img class="facilitiesImage" src="assets/images/Presentation.svg" alt="PresentationImage" />
            <div>
              <p class="facilityHeader">Presentation:</p>
              <p>32inch Tv</p>
            </div>
          </div>
          <div class="facility AdditionalFacility">
            <img class="facilitiesImage" src="assets/images/Additional.svg" alt="AdditionalImage" />
            <div>
              <p class="facilityHeader">Additional</p>
              <p>Whiteboard</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class="MeetingTitle">Meeting Name</p>
          <input type="text" placeholder="Meeting Title" class="MeetingInput" formControlName="meetingTitle"
            class="form-control" [(ngModel)]="bookingDetail.meetingTitle" />
          <div
            *ngIf="bookroomForm.get('meetingTitle')?.hasError('required') && bookroomForm.get('meetingTitle')?.touched"
            class="text-danger small">
            Meeting name is required.
          </div>

        </div>
        <div>
          <p class="MeetingTitle">Book Slot</p>
          <div class="BookingSlot row">
            <div class="col-sm-4 form-group">
              <fieldset class="fieldsetdetails">
                <input type="date" class="basicDetails small form-control">
              </fieldset>

            </div>
            <div class="col-sm-5">
              <fieldset class="fieldsetdetails form-group">
                <img src="assets/images/Loaction.svg" alt="" />
                &nbsp;

                <p class="basicDetails">{{room.roomLocation}}</p>
              </fieldset>
            </div>
            <div class="col-sm-3">
              <fieldset class="fieldsetdetails form-group">

                <img src="assets/images/Peopledark.svg" alt="" />
                &nbsp;
                <input type="number" formControlName="numberOfParticipants" class="basicDetails small form-control"
                  min="1" max={{room.roomCapacity}} placeholder="no. of emp"
                  [(ngModel)]="bookingDetail.numberOfParticipants">
              </fieldset>
              <p *ngIf="room.roomCapacity<bookingDetail.numberOfParticipants" class="small text-danger">no of person
                should be less than or equal to {{room.roomCapacity}}</p>
              <p *ngIf="bookingDetail.numberOfParticipants<0" class="small text-danger">capacity
                can't be less than 0</p>
            </div>
          </div>
        </div>
        <div>
          <p class="MeetingTitle">Select Start & End Time</p>
          <div class="row mb-3">
            <fieldset class="fieldsetdetails mx-3 col-sm-5 form-group">
              <b>Start: </b> <input type="datetime-local" formControlName="startTime"
                class="basicDetails small form-control" [(ngModel)]="bookingDetail.startTime">
            </fieldset>
            <div *ngIf="bookroomForm.get('startTime')?.hasError('required') && bookroomForm.get('startTime')?.touched"
              class="text-danger small">
              Start date and time is required.
            </div>
            <fieldset class="fieldsetdetails mx-3  col-sm-5 form-group">
              <b>End: </b> <input type="time" formControlName="endTime" class="basicDetails small form-control"
                [(ngModel)]="bookingDetail.endTime">
            </fieldset>
          </div>

        </div>
        <div>
          <p class="MeetingTitle">The booking is for</p>
          <div class="BookingFor">
            <div class="BookingHrInfo">
              <img src="assets/images/KaniniLogo.svg" alt="HR Admin" />
              <p class="bookingclick">HR Admin</p>
            </div>
            <div>

              <button class="custom-button" (click)="toggleTextArea()"><img src="assets/images/AddSymbol.svg"
                  alt="HR Admin" /></button>
              <p class="bookingclick bookingclick1">Someone else</p>


            </div>


            <select class="text-area-container" class="form-control" formControlName="employeeId"
              [(ngModel)]="bookingDetail.employeeId" *ngIf="showTextArea">
              <option *ngFor="let e of employees" [value]="e.employeeId">{{e.fname}} {{e.lname}}</option>
            </select>
          </div>
        </div>
        <div class="bookingbtn">
          <button type="submit" class="btn">Book a room</button>
          <button class="cancelBooking" type="reset">Cancel</button>
        </div>
      </form>
      <div class="reservations">
        <p class="MeetingTitle">Reservations:</p>

        <input type="date" class="reservationDetails">
      </div>
      <div class="reservedDetails">

      </div>

    </div>

    <div class="col-sm-4">
      <img [src]=" 'data:image/png;base64,' + room.imageData" class="slot-img">
    </div>


  </main>

</body>