<body class="body">

<app-navbar></app-navbar>
<app-header [header]="header" [search]="search"></app-header>
<hr>

<div>
    <main>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <span class="mx-2"><b>Finding {{count}} Bookings</b></span>
                        <select id="allLocationFilter" class="text-secondary border shadow-sm ms-2">
                            <option value="AllLocation" selected>All Locations</option>
                        </select>
                        <input type="date" class="text-secondary border shadow-sm ms-2">
                    </div>
                    <div class="col-sm-2">
                        <a routerLink="/bookaroom">
                            <button class="btn btn-primary btn-sm" id="btnCanvas" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight">Book a room</button>
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <div class="container" *ngFor="let card of cards">
            <div>
                <img [src]="'data:image/png;base64,' + card.roomDetail.imageData" alt="SunsetmeetingroomImage"
                    class="bannerImage">
            </div>
            <div class="BookingInfo">
                <div>
                    <h6 class="bookingTitle">{{card.roomDetail.roomName}}</h6>
                </div>
                <div>
                    <p class="small">Booking id &nbsp;<span class="BookingID"><b>#{{card.bookingId}}</b></span></p>
                </div>
                <div>
                    <button class="Viewandmodifydata">View and Modify Booking</button>
                </div>

                <div class="BookingData">
                    <span class="small h6 m-3">
                      <img src="../assets/images/smsImg.png">
                      {{card.meetingTitle}}</span>
            
                    <span class="small h6 m-3"><i class="fa-solid fa-location-dot me-2"
                        style="color: #8a8a8a"></i>{{card.roomDetail.location.city}}</span>
            
                    <span class="small h6 m-3"><img
                      src="assets/images/profile-icon.png" class="person-img">{{card.numberOfParticipants}} people</span>
            
                    <span class="small h6 m-3"><i class="fa-regular fa-calendar me-2" style="color: #8a8a8a"></i>{{card.startTime| date:'mediumDate'}}
                    </span>
            
                    <span class="small h6 m-3"><i class="fa-regular fa-clock me-2" style="color: #030303" style="color: #8a8a8a"></i>{{card.startTime|
                      date:'shortTime'}}- {{card.endTime|
                      date:'shortTime'}}</span>
                  </div>

            </div>
        </div>
    </main>
</div>
</body>