.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 1px solid #DDDEDE;
    border-radius: 8px;
    width: 70%;
    height: 150px;
    margin: 20px;
}
.bannerImage{
    padding: 5px;
    width: 190px;
    height: 150px;
}
.BookingInfo{
    display: flex;
    flex-direction: column;
    line-height: 0%;
    width: 100%;
    padding: 20px;
}
.BookingData{
    display: flex;
}

.Viewandmodifydata{
    float: right;
}

.bookingTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.bookingIdtitle{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #626D8A;
}
.BookingID{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #1F2131;
}
.Viewandmodifydata{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #5162F6;
    background-color: #ffffff;
    border: 1px solid #EAE9EA;
    border-radius: 4px;
}
.BookingData p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    color: #1F2131;
}