.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border: 1px solid #DDDEDE;
    border-radius: 8px;
    width: 70%;
    height: 150px;
    margin: 20px;
}
.bannerImage{
    padding: 5px;
    width: 190px;
    height: 150px;
}
.BookingInfo{
    display: flex;
    flex-direction: column;
    line-height: 0%;
    width: 100%;
    padding: 20px;
}
.BookingData{
    display: flex;
}

.Viewandmodifydata{
    float: right;
}

.bookingTitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.bookingIdtitle{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #626D8A;
}
.BookingID{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #1F2131;
}
.Viewandmodifydata{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #5162F6;
    background-color: #ffffff;
    border: 1px solid #EAE9EA;
    border-radius: 4px;
}
.BookingData p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    line-height: 1;
    color: #1F2131;
}


.body{
    width:100%;
  }
  .avatar-btn{
    height:20px;
    width:20px;
    border-radius:10px;
    background-color: black;
  }
  .search{
    /* width:300px; */
    height:25px;
    background-color: rgba(216, 225, 228, 0.345);
    font-size: 15px;
    border:0px solid rgb(234, 224, 224);
  }
  #i{
    color:#aaaaab;
  }
  .search::placeholder{
    color: rgb(154, 152, 152);
  }
  
  /*card icons*/
  .conf-icon{
    width: 4%;
    margin-right: 2%;
    padding-bottom: 2%;
  }   
  
  .icon-border{
    border:1px solid #ECECEC;
    border-radius:7px;
    margin:1%;
    width: 111px;
    height: 25px;
  }
  
  .card-size{
    width:30%;
    margin-bottom: 2%;
  }
  
  .small-icon{
    font-size:80%;
  }